#signup label {display: inline-block; font-size: 13px; width: 110px;}
input { line-height: 14px;}

ul > li:not(last-child) {margin-bottom: 5px;}

ul > li:not(first-child) {margin-top: 5px;}

#signup input[type='text'],
#signup input[type='password'],
#signup input[type='tel'],
#signup input[type='email'] {
    border : 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 200px;
}

#signup input[required] {border: 1px solid red; border-radius: 3px;}
#signup input[readonly] {border: none;}